.wrapper {
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: whitesmoke;
}

.title {
  font-size: 200%;
  text-align: center;
  margin-bottom: 1rem;
}
